    <footer>
      <div class="inner">{%
      if page.ref %}
        <nav>
          <ul>{%
        assign _list = site.posts | where: 'ref', page.ref | sort: 'lang'
%}{%    for _item in _list
%}{%      if _item.url != page.url
%}{%        assign _item_url = _item.url | split: '/' | last %}
            <li lang="{{ _item.lang }}">
              <a href="{{ _item_url }}" hreflang="{{ _item.lang }}">{{ site.i18n_lang_names[_item.lang] }}</a>
            </li>{%
          endif
%}{%    endfor
%}{%    assign _list = site.pages | where: 'ref', page.ref | sort: 'lang'
%}{%    for _item in _list
%}{%      if _item.url != page.url
%}{%        assign _item_url = _item.url | split: '/' | last %}
            <li lang="{{ _item.lang }}">
              <a href="{{ _item_url }}" hreflang="{{ _item.lang }}">{{ site.i18n_lang_names[_item.lang] }}</a>
            </li>{%
          endif
%}{%    endfor %}
          </ul>
        </nav>{%
        endif %}
        <p>{{ site.i18n_footer[page.lang] | escape }}</p>
      </div>
    </footer>
