$content-width:     46rem
$gutter:            1.2rem

html, body, .inner > *:first-child, footer *
  margin: 0
  padding: 0

html, body
  height: 100%

body
  display: flex
  flex-direction: column
  font: normal 100% sans-serif
  line-height: 1.5

main
  flex: 1
  border-bottom: thin dotted

.inner
  max-width: $content-width
  margin: 0 auto
  padding: $gutter

header
  border-bottom: medium dotted

nav
  float: right

  li
    display: inline-block
    margin: 0 0 0 .35em

nav a, a.mail
  color: inherit !important

@media print
  nav
    display: none

@media (max-width: $content-width)
  .xtra
    display: none

// Damn, should I really define colors?

@media (prefers-color-scheme: dark)
  html
    background: #111
    color: #999

  a
    color: #58c

    &:visited
      color: #a6c
